.btn {
  display: block;
  padding: 15px 25px;
  padding-bottom: 16px;
  font-weight: 700;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  background: none;
  border-radius: 25px;
  cursor: pointer;
}
