.btn {
  display: inline-block;
  padding: 13px 30px;
  vertical-align: top;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  background: none;
  border-radius: 25px;
  cursor: pointer;
}
