.competition {
  display: block;
}

.competition__header {
  padding-bottom: 40px;
}

.competition__desc {
  @include text-reset;
  line-height: 30px;
  text-align: center;
}

.competition__instruction {
  display: none;
}

.competition__form {
  display: block;
  background-color: #ffffff;
}

.competition__group {
  @include text-reset;
  margin-bottom: 30px;
  border: none;
  &--bg {
    padding-top: 30px;
    background-color: #f2f2f2;
  }
}

.competition__group-title {
  margin-bottom: 20px;
  line-height: 18px;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;
}

.competition__item {
  display: flex;
  flex-direction: column;
  @include text-reset;
  margin-bottom: 20px;
}

.competition__item:last-child {
  margin-bottom: 45px;
}

.competition__input {
  &--text-field {
    padding: 15px 25px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $primary-color;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
}

.competition__input-mark {
  order: -1;
  line-height: 30px;
  color: $secondary-color;
  text-transform: uppercase;
  &--dark {
    font-size: 18px;
    color: $primary-color;
    text-transform: none;
  }
}

.competition__textarea {
  width: 280px;
  min-height: 200px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $primary-color;
  border: 2px solid #e5e5e5;
  resize: vertical;
}

.competition__textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: %$primary-color;
}

.competition-button {
  margin-bottom: 30px;
}

.competition__require {
  @include text-reset;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.competition__star {
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .competition__desc {
    width: 420px;
    margin: 0 auto;
  }
  .competition__form {
    display: flex;
    flex-direction: column;
  }
  .competition__group {
    display: flex;
    flex-direction: column;
    &--bg {
      background-color: #ffffff;
      border: 2px solid #f2f2f2;
    }
  }
  .competition__item {
    &--center {
      width: 500px;
      margin: 0 auto;
    }
  }
  .competition__textarea {
    width: 505px;
    margin: 0 auto;
  }
  .competition__require {
    text-align: right;
  }
}
