.competition-button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 16px 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &--width {
    width: 280px;
    margin: 0 auto;
  }

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    cursor: default;
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .competition-button {
    width: 300px;
  }
}
