.competition-intro {
  padding-top: 30px;
  padding-bottom: 55px;
}

.competition-intro__title {
  @include text-reset;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}
