.competition__header {
  width: 320px;
  margin: 0 auto;
  padding-top: 3px;
  margin-bottom: 34px;
}

.competition__desc {
  width: 280px;
  @include text-reset;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
}

.competition__instruction {
  display: none;
}

.competition__form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.competition__group {
  position: relative;
  width: 320px;
  @include text-reset;
  margin: 0 auto;
  border: none;
  &--bg {
    margin-bottom: 29px;
    padding-top: 80px;
    background-color: #f2f2f2;
  }
  &--second {
    order: 1;
  }
  &--third {
    order: 2;
  }
  &--fourth {
    order: 3;
  }
  &--fifth {
    order: 4;
    margin-top: 6px;
    margin-bottom: 4px;
  }
}

.competition__group-wrap {
  width: 280px;
  margin: 0 auto;
  &--last {
    order: 5;
  }
  &--margin {
    margin-top: 33px;
  }
}

.competition__group-title {
  position: absolute;
  top: 37px;
  left: 45px;
  line-height: 18px;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;
  &--hidden {
    display: none;
  }
  &--achieves {
    width: 230px;
  }
  &--travel {
    width: 180px;
    left: 69px;
  }
  &--static {
    position: static;
    margin-bottom: 16px;
  }
}

.competition__item {
  display: flex;
  flex-direction: column;
  @include text-reset;
  margin-bottom: 49px;
  &--text {
    margin-bottom: 18px;
  }
  &--radio {
    margin-bottom: 40px;
  }
  &--checkbox {
    margin-bottom: 47px;
  }
}

.competition__item:last-child {
  margin-bottom: 45px;
}

.competition__input {
  &--text-field {
    padding: 14px 21px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $primary-color;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
  &:hover {
    border-color: $primary-color;
  }
  &:focus {
    border-color: $secondary-color;
    outline: 0;
  }
}

.competition__input-mark {
  position: relative;
  order: -1;
  margin-bottom: 5px;
  padding-left: 70px;
  line-height: 30px;
  color: $secondary-color;
  text-transform: uppercase;
  &--dark {
    font-size: 18px;
    color: $primary-color;
    text-transform: none;
  }
  &--text {
    margin-left: 23px;
    padding-left: 0;
  }
}

.competition__input--checkbox + .competition__input-mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 38px;
  height: 37px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.competition__input--checkbox:checked + .competition__input-mark::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/icon-yes-red.svg");
}

.competition__input--radio + .competition__input-mark::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 38px;
  height: 37px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.competition__input--radio:checked + .competition__input-mark::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 14px;
  height: 14px;
  background-color: $secondary-color;
  border-radius: 50%;
}

.competition__input--radio:checked ~ .competition__input-mark::before {
  border-color: $secondary-color;
}

.competition__input-mark--radio:hover::before {
  border-color: $primary-color;
}

.competition__input-mark--radio:active::before {
  border-color: $secondary-color;
}

.competition__input--checkbox:checked ~ .competition__input-mark::before {
  border-color: $secondary-color;
}

.competition__input-mark--checkbox:hover::before {
  border-color: $primary-color;
}

.competition__input-mark--checkbox:active::before {
  border-color: $secondary-color;
}

.competition__textarea {
  width: 280px;
  min-height: 200px;
  padding: 14px 19px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $primary-color;
  border: 2px solid #e5e5e5;
  resize: vertical;
  &:hover {
    border-color: $primary-color;
  }
  &:focus {
    border-color: $secondary-color;
    outline: 0;
  }
}

.competition__textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: %$primary-color;
}

.competition-button {
  margin-bottom: 30px;
}

.competition__require {
  @include text-reset;
  width: 185px;
  margin: 0 auto;
  margin-top: 36px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.competition__require-text {
  display: none;
}

.competition__star {
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .competition__header {
    width: 620px;
    margin: 0 auto;
    padding-top: 42px;
  }
  .competition__desc {
    width: 490px;
    margin-bottom: 72px;
    font-size: 18px;
  }
  .competition__instruction {
    &--block {
      display: block;
    }
  }
  .competition__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
  .competition__group {
    width: auto;
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 0;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    &--second,
    &--third,
    &--fourth,
    &--fifth {
      order: 0;
    }
    &--second {
      padding-bottom: 7px;
    }
    &--fourth {
      padding-bottom: 13px;
    }
    &--fifth {
      margin-bottom: 32px;
    }
    &--margin {
      margin-bottom: 13px;
    }
  }
  .competition__group:first-child {
    border: none;
  }
  .competition__group-title {
    position: static;
    text-align: center;
    padding: 0 25px;
    &--travel {
      width: 380px;
    }
    &--hidden {
      display: block;
    }
    &--achieves {
      width: 440px;
    }
  }
  .competition__group-wrap {
    display: flex;
    flex-direction: column;
    width: 620px;
    padding-top: 37px;
    &--padding {
      padding-top: 0;
    }
    &--last {
      flex-direction: row;
      padding-top: 42px;
    }
  }
  .competition__item {
    margin: 0;
    flex-direction: row;
    margin-left: 60px;
    margin-bottom: 52px;
    &--text {
      margin-left: 0;
    }
    &--radio {
      width: 195px;
      margin-bottom: 28px;
    }
    &--checkbox {
      width: 300px;
    }
    &--column {
      flex-direction: column;
      margin-bottom: 30px;
    }
    &--column:last-child {
      margin-bottom: 25px;
    }
    &--margin {
      margin-bottom: 35px;
    }
    &--tel,
    &--email {
      position: relative;
    }
    &--tel::before {
      content: "";
      position: absolute;
      top: 0;
      right: 63px;
      width: 60px;
      height: 63px;
      background-color: #e5e5e5;
      background-image: url("../../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      border-radius: 2px;
    }
    &--email::before {
      content: "";
      position: absolute;
      top: 0;
      right: 63px;
      width: 60px;
      height: 63px;
      background-color: #e5e5e5;
      background-image: url("../../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      border-radius: 2px;
    }
  }

  .competition__input-mark {
    margin: 0;
    margin-top: 17px;
    padding: 0;
    &--dark {
      order: 1;
      padding-left: 57px;
    }
    &--order {
      order: 0;
      margin-left: 78px;
      margin-top: 11px;
    }
  }
  .competition__input {
    padding: 14px 21px;
    width: 525px;
    margin-left: auto;
    &--width {
      width: 565px;
    }
    &--contacts {
      width: 440px;
      margin: 0;
      margin-left: 58px;
    }
  }

  .competition__input--checkbox:checked + .competition__input-mark::after {
    top: 7px;
    left: 8px;
  }

  .competition__textarea {
    width: 499px;
    min-height: 195px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 15px 19px;
  }
  .competition__require {
    margin: 0;
    margin-top: 15px;
    margin-left: auto;
  }
  .competition__require-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .competition__header {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding-top: 24px;
  }
  .competition__desc {
    width: 760px;
    margin: 0 auto;
  }
  .competition__instruction {
    display: inline;
  }
  .competition__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
  }
  .competition__group {
    width: 440px;
    &--second,
    &--third,
    &--fifth  {
      width: 100%;
    }
    &--second {
      padding-bottom: 16px;
    }
    &--third {
      margin-bottom: 58px;
      padding-bottom: 11px;
    }
    &--fourth {
      width: 434px;
    }
    &--fifth {
      margin-bottom: 29px;
    }
    &--margin {
      margin-bottom: 12px;
    }
  }
  .competition__group:first-child {
    padding-right: 64px;
    padding-top: 15px;
  }
  .competition__item {
    margin-bottom: 25px;
    &--text {
      margin-bottom: 54px;
    }
    &--checkbox {
      width: 260px;
    }
    &--radio {
      width: 215px;
      margin-bottom: 28px;
    }
    &--center {
      width: 376px;
    }
    &--center:first-child {
      margin-right: 70px;
      margin-left: 57px;
    }
    &--column {
      margin-bottom: 0;
    }
    &--column:last-child {
      margin: 0;
    }
    &--margin {
      margin-left: 0;
      margin-bottom: 33px;
    }
    &--checkbox:last-child {
      margin-right: 0;
    }
    &--order-first {
      order: 1;
    }
    &--order-third {
      order: 3;
      width: 210px;
    }
    &--order-second {
      order: 2;
      padding-left: 7px;
    }
    &--order-fifth {
      order: 5;
      padding-left: 8px;
    }
    &--order-fourth {
      order: 4;
    }
    &--order-sixth {
      order: 5;
      width: 210px;
    }
    &--tel::before {
      right: 3px;
    }
    &--email::before {
      right: 4px;
    }
  }
  .competition__item-wrap {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
  }
  .competition__item-wrap:last-child {
    margin-right: 0;
  }
  .competition__group-wrap {
    width: 100%;
    &--row {
    display: flex;
    flex-direction: row;
  }
  &--last {
    justify-content: space-between;
    margin-left: 0;
    padding-top: 33px;
  }
  &--checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 880px;
    padding-left: 5px;
  }
  &--top {
    padding-top: 34px;
  }
}
  .competition__input {
    width: 340px;
    margin-left: 17px;
    &--width {
      width: 380px;
    }
    &--contacts {
      width: 314px;
      margin: 0;
    }
    &--text-field {
      padding: 14px 18px;
    }
  }
  .competition__input-mark {
    &--dark {
      padding-left: 74px;
    }
    &--padding {
      padding-left: 59px;
    }
    &--order {
      margin-left: 19px;
    }
  }
  .competition__input--checkbox + .competition__input-mark::before {
    top: -5px;
  }
  .competition__input--radio + .competition__input-mark::before {
    left: 15px;
  }
  .competition__input--radio:checked + .competition__input-mark::after {
    left: 27px;
  }
  .competition__textarea {
    width: 820px;
    min-height: 125px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 17px;
  }
  .competition__require {
    width: 315px;
    margin: 0;
    margin-top: 19px;
    margin-left: auto;
  }
  .competition__require-text {
    display: inline;
  }
}
