.competition-button {
  display: block;
  width: 100%;
  padding: 18px 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
