.contacts {
  display: block;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include text-reset;
  margin-left: 4px;
  margin-bottom: 26px;
  &--first {
    margin-bottom: 20px;
  }
}

.contacts__title {
  @include text-reset;
  margin-bottom: 33px;
  text-align: center;
}

.contacts__feedback {
  @include heading;
  &--block {
    display: block;
  }
}

.contacts__offer {
  @include bold-text;
  margin-bottom: 3px;
}

.contacts__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $secondary-color;
  &:hover,
  &:focus {
    color: $primary-color;
  }
  &:active {
    color: transparentize($primary-color, 0.7);
  }
}

@media (min-width: $tablet-width) {
  .contacts__items-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contacts__item {
    width: 300px;
    margin-left: 0;
    margin-bottom: 47px;
    &--last {
      margin-left: auto;
    }
  }
  .contacts__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__title {
    margin: 0 auto;
    margin-bottom: 44px;
  }
  .contacts__offer {
    margin-bottom: 6px;
  }
  .contacts__feedback {
    font-size: 40px;
    line-height: 48px;
    color: $primary-color;
  }
  .contacts__image {

  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    margin-bottom: 33px;
  }
  .contacts__feedback {
    font-size: 50px;
    line-height: 57px;
  }
  .contacts__items-wrap {
    justify-content: space-between;
  }
  .contacts__item {
    margin: 0;
    &--last {
      order: 1;
    }
    &--center {
      margin-top: 26px;
    }
  }
  .contacts__offer {
    margin-bottom: 23px;
  &--margin {
    margin-bottom: 26px;
  }
 }
}
