.contacts {
  display: block;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include text-reset;
  margin-bottom: 26px;
  &--first {
    margin-bottom: 20px;
  }
  &--image {
    position: relative;
    width: 320px;
    height: 213px;
    margin-bottom: 0;
    margin: 0 auto;
    overflow: hidden;
  }
  &--image::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 61px;
    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 595px auto;
    background-position: center;
  }
  &--image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 44%;
    width: 36px;
    height: 36px;
    background-image: url("../../img/icon-map-marker.svg");
    background-repeat: no-repeat;
  }
}

#map {
  width: 320px;
  height: 213px;
}

.contacts__title {
  @include text-reset;
  margin-bottom: 33px;
  text-align: center;
}

.contacts__feedback {
  @include heading;
  &--block {
    display: block;
  }
}

.contacts__offer {
  @include bold-text;
  margin-bottom: 3px;
}

.contacts__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $secondary-color;
  &:hover,
  &:focus {
    color: $primary-color;
  }
  &:active {
    color: transparentize($primary-color, 0.7);
  }
}

.contacts__image {
  position: absolute;
  top: -433px;
  display: block;
  height: 645px;
  width: 640px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .contacts__items-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contacts__item {
    width: 300px;
    margin-left: 0;
    margin-bottom: 47px;
    &--last {
      margin-left: auto;
    }
    &--center {
      margin-bottom: 31px;
    }
    &--image {
      width: 100%;
      min-height: 355px;
      margin-bottom: 0;
    }
    &--image::before {
      top: -17px;
      width: 660px;
      height: 99px;
      background-size: 660px auto;
    }
    &--image::after {
      top: 49%;
      left: 47.2%;
    }
  }
  #map {
    width: 660px;
    height: 376px;
  }
  .contacts__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__title {
    margin: 0 auto;
    margin-bottom: 41px;
  }
  .contacts__offer {
    margin-bottom: 6px;
  }
  .contacts__image {
    width: 700px;
    height: 848px;
  }
  .contacts__feedback {
    font-size: 40px;
    line-height: 48px;
    color: $primary-color;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    margin-bottom: 29px;
  }
  .contacts__feedback {
    font-size: 50px;
    line-height: 57px;
  }
  .contacts__items-wrap {
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .contacts__item {
    margin: 0;
    &--last {
      order: 1;
    }
    &--center {
      margin-top: 26px;
    }
    &--image {
      min-height: 521px;
    }
    &--image::before {
      top: -2px;
      width: 960px;
      background-size: 940px auto;
    }
    &--image::after {
      top: 54%;
      left: 48%;
    }
  }
  #map {
    width: 960px;
    height: 521px;
  }
  .contacts__offer {
    margin-bottom: 23px;
  &--margin {
    margin-bottom: 26px;
  }
 }
 .contacts__image {
   top: -259px;
   width: 960px;
   height: 926px;
 }
}
