.contacts {
  display: block;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include text-reset;
  margin-bottom: 26px;

  &--first {
    margin-bottom: 20px;
  }

  &--image {
    position: relative;
    width: 100%;
    height: 214px;
    margin: 0 auto;
    overflow: hidden;
  }

  &--image::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 61px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 595px auto;
    background-position: center;
  }
}

.contacts__map {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 310px;
}

.contacts__title {
  @include text-reset;
  margin-bottom: 33px;
  text-align: center;
}

.contacts__feedback {
  @include heading;

  &--block {
    display: block;
  }
}

.contacts__offer {
  @include bold-text;
  margin-bottom: 3px;
}

.contacts__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $primary-color;
  }

  &:active {
    color: transparentize($primary-color, 0.7);
  }
}

.contacts__image {
  position: absolute;
  top: -423px;
  display: block;
  height: 645px;
  width: 640px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .contacts__items-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .contacts__item {
    width: 300px;
    margin-left: 0;
    margin-bottom: 47px;

    &--last {
      margin-left: auto;
    }

    &--center {
      margin-bottom: 31px;
    }

    &--image {
      width: 100%;
      height: 370px;
      margin-bottom: 0;
    }

    &--image::before {
      top: -33px;
      width: 100%;
      height: 99px;
      background-size: 100% auto;
      background-position: bottom center;
    }

    &--image::after {
      top: 49%;
      left: 47.2%;
    }
  }

  .contacts__map {
    width: 100%;
    height: 476px;
  }

  .contacts__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__title {
    margin: 0 auto;
    margin-bottom: 41px;
  }

  .contacts__offer {
    margin-bottom: 6px;
  }

  .contacts__image {
    width: 100%;
    height: 848px;
  }

  .contacts__feedback {
    font-size: 40px;
    line-height: 48px;
    color: $primary-color;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    margin-bottom: 29px;
  }

  .contacts__feedback {
    font-size: 50px;
    line-height: 57px;
  }

  .contacts__items-wrap {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .contacts__item {
    margin: 0;

    &--last {
      order: 1;
    }

    &--center {
      margin-top: 30px;
    }

    &--image {
      width: 100%;
      height: 494px;
    }

    &--image::before {
      top: -92px;
      width: 100%;
      height: 189px;
      background-size: 100%;
      background-position: bottom center;
    }

    &--image::after {
      top: 54%;
      left: 48%;
    }
  }

  .contacts__map {
    top: 0;
    width: 100%;
    height: 584px;
  }

  .contacts__offer {
    margin-bottom: 23px;

    &--margin {
      margin-bottom: 22px;
    }
  }

  .contacts__image {
    top: -259px;
    width: 100%;
    height: 926px;
  }
}

