.contacts {
  display: block;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include text-reset;
  margin-bottom: 20px;
}

.contacts__title {
  @include text-reset;
  margin-bottom: 20px;
  text-align: center;
}

.contacts__feedback {
  @include heading;
  &--block {
    display: block;
  }
}

.contacts__offer {
  @include bold-text;
  margin-bottom: 10px;
}

.contacts__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $secondary-color;
  &:hover,
  &:focus {
    color: $primary-color;
  }
  &:active {
    color: transparentize($primary-color, 0.7);
  }
}

@media (min-width: $tablet-width) {
  .contacts__items-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__item {
    margin-bottom: 50px;
    &--center {
      margin: 0 auto;
    }
  }
  .contacts__title {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contacts__feedback {
    font-size: 40px;
    line-height: 48px;
    color: $primary-color;
  }

}

@media (min-width: $desktop-width) {
  .contacts__items-wrap {
    justify-content: center;
  }
  .contacts__item {
    margin: 0;
    margin-right: 30px;
    &--last {
      order: 1;
    }
  }
}
