.copyright {
  width: 150px;
  &--small {
    width: 130px;
  }
}

.copyright__autor {
  width: 110px;
  line-height: 18px;
}

.copyright__img path {
  fill: $secondary-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
  }
  .copyright__author {
    margin-top: 6px;
    margin-left: 5px;
  }
  .copyright__link {
    margin-right: 15px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    font-size: 18px;
    line-height: 18px;
  }
}
