.copyright {
  width: 130px;
  margin: 0 auto;
}

.copyright__author {
  margin-top: 3px;
}

.copyright__image {
  width: 27px;
  height: 34px;
  fill: $secondary-color;
  &:hover {
    fill: $primary-color;
  }
  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .copyright {
    width: 130px;
    display: flex;
    margin: 0;
    margin-top: 10px;
  }
  .copyright__author {
    margin-top: 11px;
    padding: 0;
  }
  .copyright__link {
    display: block;
    padding-top: 5px;
  }

}

@media (min-width: $desktop-width) {
  .copyright {
    width: 155px;
    font-size: 18px;
    line-height: 18px;
    &--form {
      margin: 0;
      margin-left: auto;
    }
  }
  .copyright__author {
    padding-left: 0;
  }
}
