.exploration {
  display: none;
  margin-bottom: 45px;
  padding-bottom: 85px;
}

.exploration__container {
  position: relative;
  &::before {
    content: "24";
    position: absolute;
    top: 0;
    left: 25px;
    width: 253px;
    height: 253px;
    font-size: 96px;
    line-height: 149px;
    font-weight: 700;
    text-align: center;
    color: $secondary-color;
    background-image: url("../../img/icon-editor-diagram-fill.svg");
  }
}

.exploration__wrapper {
  width: 300px;
}

.exploration__heading {
  @include text-reset;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.exploration__desc {
  @include text-reset;
  margin-bottom: 10px;
}

.exploration__link {
  text-decoration: underline;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .exploration__container {
    display: flex;
    flex-direction: row;
  }
  .exploration {
    display: flex;
    margin-bottom: 40px;
    padding-top: 50px;
  }
  .exploration__wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: auto;
  }
  .exploration__heading {
    margin-bottom: 8px;
  }
  .exploration__desc {
    width: 300px;
  }
}
@media (min-width: $desktop-width) {
  .exploration {
    margin-bottom: 65px;
    padding-bottom: 112px;
    background-color: #f2f2f2;
  }
  .exploration__wrapper {
    width: 540px;
    margin-top: 26px;
    margin-left: 366px;
  }
  .exploration__heading {
    margin-bottom: 23px;
    line-height: 30px;
  }
  .exploration__heading br {
    display: none;
  }
  .exploration__desc {
    width: 540px;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 30px;
  }
  .exploration__desc-text {
    display: block;
  }
  .exploration__desc-text br {
    display: none;
  }
  .exploration__link {
    font-size: 18px;
    line-height: 30px;
  }
}
