.exploration {
  display: none;
  margin-bottom: 45px;
  padding-bottom: 85px;
}

.exploration__container {
  position: relative;
  &::before {
    content: "24";
    display: block;
    position: absolute;
    top: 16px;
    left: 19px;
    z-index: 5;
    width: 204px;
    height: 205px;
    font-size: 96px;
    line-height: 190px;
    font-weight: 700;
    text-align: center;
    color: #d22856;
    background-image: url("../../img/icon-editor-diagram-fill.svg");
    background-size: 202px;
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    top: -38px;
    left: 0;
    width: 242px;
    height: 345px;
    background-image: url("../../img/icon-timer.svg");
    background-size: 242px 276px;
    background-repeat: no-repeat;
  }
}

.exploration__wrapper {
  width: 300px;
}

.exploration__heading {
  @include text-reset;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.exploration__desc {
  @include text-reset;
  margin-bottom: 10px;
}

.exploration__link {
  text-decoration: underline;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .exploration__container {
    display: flex;
    flex-direction: row;
  }
  .exploration {
    display: flex;
    margin-bottom: 40px;
    padding-top: 50px;
  }
  .exploration__wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: auto;
  }
  .exploration__heading {
    margin-bottom: 8px;
  }
  .exploration__desc {
    width: 300px;
  }
}
@media (min-width: $desktop-width) {
  .exploration {
    margin-bottom: 65px;
    padding-bottom: 112px;
    background-color: #f2f2f2;
  }
  .exploration__container {
    &::before {
      content: "24";
      display: block;
      position: absolute;
      top: 0;
      left: 21px;
      width: 254px;
      height: 256px;
      font-size: 120px;
      line-height: 233px;
      font-weight: 700;
      text-align: center;
      color: #d22856;
      background-image: url(../../img/icon-editor-diagram-fill.svg);
      background-size: 253px auto;
      background-repeat: no-repeat;
      z-index: 5;
    }
    &::after {
      content: "";
      position: absolute;
      top: -69px;
      left: 0;
      width: 300px;
      height: 345px;
      background-image: url("../../img/icon-timer.svg");
      background-size: 300px;
      background-repeat: no-repeat;
    }
  }
  .exploration__wrapper {
    width: 540px;
    margin-top: 26px;
    margin-left: 366px;
  }
  .exploration__heading {
    margin-bottom: 23px;
    line-height: 30px;
  }
  .exploration__heading br {
    display: none;
  }
  .exploration__desc {
    width: 540px;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 30px;
  }
  .exploration__desc-text {
    display: block;
  }
  .exploration__desc-text br {
    display: none;
  }
  .exploration__link {
    font-size: 18px;
    line-height: 30px;
  }
}
