.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.features__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.features__intro {
  @include text-reset;
}

.features__list {
  display: block;
  @include list-reset;
  background-color: #f2f2f2;
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__title {
  @include heading;
  margin-bottom: 25px;
  text-align: center;
}

.features__title:last-child {
  margin-bottom: 0;
}

.features__feature-title {
  @include text-reset;
  @include bold-text;
  margin-bottom: 15px;
  text-align: center;
}

.features__feature-desc {
  @include text-reset;
  text-align: center;
}

.features__feature-desc--margin {
  margin-bottom: 40px;
}

.features__image {
  display: block;
  width: 157px;
  height: 320px;
  margin: 0 auto;
}
