.features {
  position: relative;
  display: block;
  margin-bottom: 51px;
/*  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }*/
}

.features__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 63px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.features__intro {
  @include text-reset;
}

.features__list {
  display: block;
  @include list-reset;
}

.features__item {
  margin-bottom: 31px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--third {
    padding-bottom: 309px;
  }
  &--third::before {
    content: "";
    position: absolute;
    bottom: 32px;
    left: 22%;
    width: 157px;
    height: 277px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.features__feature br {
  display: none;
}

.features__title {
  display: block;
  @include heading;
  margin-bottom: 30px;
  text-align: center;
}

.features__title:last-child {
  margin-bottom: 0;
}

.features__feature-title {
  @include text-reset;
  @include bold-text;
  margin-bottom: 12px;
  text-align: center;
}

.features__feature-desc {
  @include text-reset;
  text-align: center;
}

.features__feature-desc--margin {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .features__container {
    display: flex;
    justify-content: flex-end;
  }
  .features {
    position: relative;
    margin-bottom: 89px;
  }
  .features__header {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 37px;
  }
  .features__list {
    margin-top: 34px;
  }
  .features__item {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-bottom: 35px;
  }
  .features__feature {
    &--third {
      padding-bottom: 0;
    }
    &--third::before {
      top: -300px;
      left: -250px;
      width: 268px;
      height: 300px;
    }
  }
  .features__feature br {
    display: block;
  }
  .features__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px;
    &--width {
      width: 335px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .features__feature-desc {
    text-align: left;
  }
  .features__feature-title {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 0;
    padding-bottom: 50px;
    background-color: #f2f2f2;
  }
  .features__header {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .features__title {
    font-size: 50px;
    line-height: 60px;
    &--width {
      width: 420px;
    }
  }
  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 940px;
  }
  .features__item {
    width: 260px;
  }
  .features__feature {
    display: flex;
    flex-direction: column;
    padding-top: 289px;
    &--first-img {
      background-image: url("../../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
    }
    &--second-img {
      background-image: url("../../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
    }
    &--third {
      background-image: url("../../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
    }
    &--third::before {
      display: none;
    }
  }
  .features__feature br {
    display: none;
  }
  .features__feature-title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    &--align {
      width: 195px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
    &--width {
      width: 230px;
      margin-left: 20px;
    }
  }
  .features__feature-desc {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    &--first-width {
      width: 247px;
    }
    &--second-width {
      width: 240px;
      margin: 0 auto;
    }
    &--last-width {
      width: 274px;
      margin: 0 auto;
    }
}
}
