.features {
  position: relative;
  display: block;
  margin-bottom: 43px;
  background-color: #f2f2f2;
  &::before {
    content: "";
    position: absolute;
    top: 168px;
    left: 0;
    width: 100%;
    height: 89px;
    background-color: #f2f2f2;
    background-image: linear-gradient(176deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
    background-repeat: no-repeat;
  }
}

.features__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 63px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.features__header-wrapper {
  width: 280px;
  margin: 0 auto;
}

.features__intro {
  @include text-reset;
}

.features__list {
  display: block;
  @include list-reset;
}

.features__item {
  margin-bottom: 31px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--third-img {
    padding-bottom: 318px;
  }
  &--third-img::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 22%;
    width: 157px;
    height: 277px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/iphone-screen-mobile@2x.png");
      background-size: 158px auto;
    }
  }
}

.features__feature br {
  display: none;
}

.features__title {
  display: block;
  @include heading;
  margin-bottom: 30px;
  text-align: center;
}

.features__title:last-child {
  margin-bottom: 0;
}

.features__feature-title {
  @include text-reset;
  @include bold-text;
  margin-bottom: 12px;
  text-align: center;
}

.features__feature-desc {
  @include text-reset;
  text-align: center;
}

.features__feature-desc--margin {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .features__container {
    display: flex;
    justify-content: flex-end;
  }
  .features {
    position: relative;
    margin-bottom: 49px;
    padding-bottom: 40px;
    &::before {
      top: 186px;
      width: 100%;
      background-image: linear-gradient(178deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
    }
  }
  .features__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }

  .features__header-wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .features__list {
    margin-top: 34px;
  }
  .features__item {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-bottom: 35px;
  }
  .features__feature {
    &--third-img {
      padding-bottom: 0;
    }
    &--third-img::before {
      top: -356px;
      left: -310px;
      width: 268px;
      height: 481px;
      background-image: url("../../img/iphone-screen-3-tablet@1x.png");
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }
  .features__feature br {
    display: block;
  }
  .features__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px;
    &--width {
      width: 335px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .features__feature-desc {
    text-align: left;
  }
  .features__feature-title {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 0;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    &::before {
    top: 228px;
    width: 100%;
    background-image: linear-gradient(178deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
    height: 248px;
    }
  }
  .features__header-wrapper {
    width: 940px;
    margin: 0 auto;
  }
  .features__title {
    font-size: 50px;
    line-height: 60px;
    &--width {
      width: 420px;
    }
  }
  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 940px;
  }
  .features__item {
    width: 260px;
  }
  .features__feature {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 289px;
    &--first-img::before {
      content: "";
      position: absolute;
      top: -46px;
      left: -23px;
      width: 292px;
      height: 481px;
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 292px auto;
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-screen-1-desktop@2x.png");
      }
    }
    &--second-img::before {
      content: "";
      position: absolute;
      top: -46px;
      left: -13px;
      width: 292px;
      height: 481px;
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 292px auto;
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-screen-2-desktop@2x.png");
      }
    }
    &--third-img::before {
      content: "";
      position: absolute;
      top: -46px;
      left: -7px;
      width: 292px;
      height: 481px;
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;

      background-size: 292px auto;
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
  .features__feature br {
    display: none;
  }
  .features__feature-title {
    margin-top: 21px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    &--align {
      width: 195px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
    &--width {
      width: 230px;
      margin-left: 20px;
    }
  }
  .features__feature-desc {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    &--first-width {
      width: 247px;
    }
    &--second-width {
      width: 240px;
      margin: 0 auto;
    }
    &--last-width {
      width: 274px;
      margin: 0 auto;
    }
}
}
