.gallery-intro {
  width: 320px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 84px;
}

.gallery-intro__title {
  width: 175px;
  @include text-reset;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gallery-intro {
    width: 620px;
    padding-bottom: 141px;
  }
  .gallery-intro__title {
    width: 360px;
    margin: 0 auto;
    font-size: 50px;
    line-height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-intro {
    padding-top: 26px;
    padding-bottom: 101px;
  }
}
