.gallery-intro {
  padding-top: 35px;
  padding-bottom: 80px;
}

.gallery-intro__title {
  @include text-reset;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gallery-intro-title {
    font-size: 50px;
    line-height: 50px;
  }
}
