.gallery {
  display: block;
  margin-bottom: 23px;
}

.gallery__header {
  width: 320px;
  margin: 0 auto;
  padding-top: 3px;
}

.gallery__text {
  @include text-reset;
  width: 244px;
  margin: 0 auto;
  margin-bottom: 49px;
  line-height: 30px;
  text-align: center;
}

.gallery__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .gallery {
    margin-bottom: 43px;
  }
  .gallery__header {
    width: 620px;
    margin: 0 auto;
    padding-top: 42px;
    margin-bottom: 75px;
  }
  .gallery__text {
    width: 440px;
    margin: 0 auto;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    margin-bottom: 7px;
  }
  .gallery__header {
    width: 940px;
    margin-bottom: 87px;
    padding-top: 25px;
  }
  .gallery__text {
    width: 575px;
  }
  .gallery__text br {
    display: block;
  }
}
