.gallery {
  display: block;
  margin-bottom: 45px;
}

.gallery__text {
  @include text-reset;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 55px;
  line-height: 30px;
  text-align: center;
}

.gallery__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .gallery__text {
    width: 440px;
    margin: 0 auto;
    margin-bottom: 55px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__text {
    width: 575px;
  }
  .gallery__text br {
    display: block;
  }
}
