.logo-link {
  display: block;
  position: relative;
  left: -51px;
  top: 7px;
  padding-bottom: 22.5px;

  &--photo {
    top: 18px;
  }

  &--form {
    top: 19px;
  }
}

.logo-link__name--pink-footer {
  fill: $primary-color;
}

.logo-link__glasses {
  opacity: 0;

  &--full-pink {
    opacity: 1;
  }
}

.logo-link__point {
  opacity: 0;
}

.logo-link__sparks {
  opacity: 0;
}

.logo-link:not(.logo-link--current):hover .logo-link__name--pink-header,
.logo-link:not(.logo-link--current):focus .logo-link__name--pink-header,
.logo-link:not(.logo-link--current):hover .logo-link__name--pink-footer,
.logo-link:not(.logo-link--current):focus .logo-link__name--pink-footer {
  fill: $secondary-color;
}

.logo-link:not(.logo-link--current):active .logo-link__name--pink-header {
  fill: #ffffff;
  opacity: 0.3;
}

.logo-link:not(.logo-link--current):active .logo-link__name--pink-footer {
  fill: $primary-color;
  opacity: 0.3;
}

.logo-link:not(.logo-link--current):active .logo-link__glasses--full-pink {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .logo-link {
    left: -49px;
    top: 14px;
    padding: 0;
    padding-bottom: 48px;

    &--blue {
      top: 3px;
      left: 0;
    }
  }

  .logo-link__glasses--full {
    opacity: 1;
    fill: #ffffff;
  }

  .logo-link__glasses--full-pink {
    fill: $secondary-color;
  }

  .logo-link:not(.logo-link--current):hover .logo-link__glasses--full,
  .logo-link:not(.logo-link--current):focus .logo-link__glasses--full {
    fill: $secondary-color;
  }

  .logo-link:not(.logo-link--current):active .logo-link__glasses--full {
    fill: #ffffff;
    opacity: 0.3;
  }

  .logo-link:not(.logo-link--current):hover .logo-link__name--pink-footer,
  .logo-link:not(.logo-link--current):focus .logo-link__name--pink-footer {
    fill: $secondary-color;
  }

  .logo-link:not(.logo-link--current):active .logo-link__name--pink-footer {
    opacity: 0.3;
  }

  .logo-link:not(.logo-link--current):active .logo-link__glasses--full-pink {
    fill: $secondary-color;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .logo-link {
    left: -71px;
    top: 21px;
    padding: 0;

    &--blue {
      top: 3px;
      left: 0;
    }
  }

  .logo-link__point {
    opacity: 1;
  }

  .logo-link__point--header {
    opacity: 1;
  }

  .logo-link__sparks {
    &--header {
      opacity: 1;
    }

    &--footer {
      opacity: 1;
      fill: $primary-color;
    }
  }

  .logo-link:not(.logo-link--current):hover .logo-link__sparks--header,
  .logo-link:not(.logo-link--current):focus .logo-link__sparks--header {
    fill: #ffffff;
  }

  .logo-link:not(.logo-link--current):active .logo-link__sparks--header {
    fill: $secondary-color;
    opacity: 0.3;
  }

  .logo-link:not(.logo-link--current):active .logo-link__point--header {
    opacity: 0.3;
  }

  .logo-link:not(.logo-link--current):hover .logo-link__sparks--footer {
    fill: $secondary-color;
  }

  .logo-link:not(.logo-link--current):active .logo-link__point--footer {
    opacity: 0.3;
  }

  .logo-link:not(.logo-link--current):active .logo-link__name--pink-footer,
  .logo-link:not(.logo-link--current):active .logo-link__sparks--footer {
    fill: $primary-color;
    opacity: 0.3;
  }
}
