.main-nav {
  position: relative;
  margin-bottom: 108px;
  background-color: $primary-color;
  &--closed {
    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 24px;
      background-image: url("../../img/icon-menu-burger.svg");
    }
  }
  &--opened {
    .main-nav__toggle::after {
      content: "";
      position: absolute;
      top: 0;
      left: 28px;
      width: 24px;
      height: 24px;
      background-image: url("../../img/icon-menu-cross.svg");
    }
  }
}


.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 51px;
  display: block;
  font: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}

@media (max-width: $mobile-tablet-width) {
  .main-nav--closed .site-nav__item {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 630px;
    margin-bottom: 0px;
    background: none;
  }
  .main-nav__toggle {
    display: none;
  }
}
