.main-footer {
  padding-top: 48px;
  &--photo {
    padding-top: 22px;
  }
  &--form {
    padding-top: 35px;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--hidden {
    display: none;
  }
  &--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main-footer__logo {
  left: 0;
  width: 147px;
  margin: 0 auto;
  margin-bottom: 31px;
  &--center {
    margin-top: 12px;
    margin-bottom: 32px;
  }
}

.main-footer__social {
  margin: 0 auto;
  margin-bottom: 31px;
  &--center {
    margin-bottom: 38px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  @include text-reset;
  margin: 0 auto;
}

.main-footer__copyright-author {
  @include text-reset;
  &--margin {
    margin-top: 6px;
  }
}

.main-footer__copyright-link {
  display: block;
  margin-right: 3px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 48px;
    &--photo {
    padding-top: 47px;
    }
  }
  .main-footer--padding-form {
    padding-top: 41px;
  }
  .main-footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding: 31px 0;
    &--padding {
      padding: 0;
    }
    &--form {
      padding: 36px 0;
    }
  }
  .main-footer__logo {
    width: 150px;
    margin: 0;
  }
  .main-footer__logo-image {
    width: 150px;
  }
  .main-footer__social {
    width: 200px;
    margin-top: 7px;
  }
  .main-footer__social-list {
    width: 180px;
    margin: 0 auto;
  }
  .main-footer__copyright {
    margin: 0;
    margin-top: 10px;
    &--small {
      width: 130px;
    }
  }
  .main-footer__copyright-author--form-margin {
    margin-top: 10px;
  }
  .main-footer__copyright-link {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 69px;
    &--photo {
      padding-top: 69px;
    }
    &--form {
      padding-top: 0;
    }
  }
  .main-footer__info {
    width: 940px;
    margin: 0 auto;
    padding: 68px 0;
    &--padding {
      padding: 45px 0;
    }
  }
  .main-footer__social {
    width: 175px;
    margin: 0 auto;
    margin-top: 6px;
    &--form {
      margin: 0;
      margin-left: 231px;
      margin-top: 7px;
    }
  }
}
