.main-footer {
  padding-top: 45px;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-footer__info {
  display: none;
}

.main-footer__logo {
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-footer__social {
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-footer__copyright {
  @include text-reset;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer__info {
    display: flex;
    justify-content: space-between;
  }
  .main-footer__logo {
    margin-right: auto;
  }
}
