.main-nav {
  position: relative;
  background-color: $primary-color;
}

.main-nav__toggle {
  top: -15px;
  left: 200px;
  position: relative;
  display: block;
  font: inherit;
  border: 0;
  background: none;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 24px;
    background-image: url("../../img/icon-menu-burger.svg");
  }
}
