.main-nav {
  position: relative;
  margin-bottom: 108px;
  background-color: rgba(0, 0, 0, 0.3);
  &--closed {
    .main-nav__toggle::before {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 24px;
      background-image: url("../../img/icon-menu-burger.svg");
    }
  }
  &--opened {
    .main-nav__toggle::after {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      left: 38px;
      width: 24px;
      height: 24px;
      background-image: url("../../img/icon-menu-cross.svg");
    }
  }
  &--margin {
    margin-bottom: 0;
  }
}

.main-nav--opened .main-nav__wrap {
  background-color: $primary-color;
}

.main-nav__wrap {
  width: 320px;
  margin: 0 auto;
}

.main-nav__logo {
  display: block;
  margin-left: 19px;
  padding-top: 36px;
  padding-bottom: 18px;
}

.main-nav__logo-image {
  width: 75px;
  height: 22px;
}

.main-nav__toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 52px;
  display: block;
  font: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}

@media (min-width: $mobile-tablet-width) {
  .main-nav--closed .site-nav__item {
    display: none;
  }
  .main-nav--no-js .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-bottom: 71px;
    &--margin {
      margin-bottom: 41px;
    }
  }
  .main-nav__wrap {
    width: 660px;
  }
  .main-nav__logo {
    padding-top: 10px;
    padding-bottom: 34px;
  }
  .main-nav__logo-image {
    width: 147px;
    height: 40px;
  }
  .main-nav__toggle {
    top: 34px;
    right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-bottom: 93px;
    &--margin {
      margin-bottom: 40px;
    }
  }
  .main-nav__wrap {
    display: flex;
    width: 940px;
    margin: 0 auto;
  }
  .main-nav--opened .main-nav__wrap {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__logo {
    width: 160px;
    margin-left: 0;
    padding-top: 24px;
  }
}
