@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
  background-color: #ffffff;

  &--error {
    top: 212px;
    padding-top: 41px;
    padding-bottom: 51px;
  }

  &--success {
    bottom: 105px;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  }

  &--show-success {
    display: block;
    animation: bounce 0.6s;
  }

  &--show-error {
    display: block;
    animation: bounce 0.6s;
  }
}


.modal__container {
  display: flex;
  flex-direction: column;
}

.modal__message {
  @include text-reset;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.modal__instructions {
  @include text-reset;
  text-align: center;
  margin-bottom: 29px;

  &--error {
    margin-bottom: 38px;
  }
}

.modal__wrap {
  padding: 50px 0;
  background-color: #f2f2f2;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--padding {
    padding: 51px 0;
  }
}


@media (min-width: $tablet-width) {
  .modal {
    left: 50%;
    margin-left: -230px;
    width: 460px;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

    &--error {
      top: 100px;
    }

    &--success {
      padding-bottom: 0;
    }

    &--show-error {
      animation: shake 0.6s;
    }

    &--show-success {
      animation: bounce 0.6s;
    }
  }

  .modal__container {
    width: 370px;
  }

  .modal__message {
    width: 215px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal__instructions {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 25px;

    &--success {
      width: 320px;
      margin-bottom: 28px;
    }
  }

  .modal__instructions br {
    display: none;
  }

  .modal__button {
    margin: 0 auto;
  }

  .modal__wrap {
    padding: 52px 0;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 780px;
    margin-left: -390px;
    padding-top: 18px;
  }

  .modal__container {
    width: 465px;
  }

  .modal__message {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;

    &--success {
      width: 400px;
      margin-bottom: 18px;
    }
  }

  .modal__instructions {
    width: 360px;
    margin-bottom: 107px;

    &--success {
      width: 390px;
      margin: 0 auto;
      margin-bottom: 33px;
    }
  }

  .modal__button--success {
    width: 465px;
  }
}
