.modal {
  padding-top: 24px;
  padding-bottom: 51px;

  &--success {
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  }

  &--hidden {
    display: none;
  }
}

.modal__message {
  @include text-reset;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.modal__instructions {
  @include text-reset;
  margin-bottom: 38px;
  text-align: center;

  &--success {
    width: 281px;
    margin-bottom: 21px;
    text-align: center;
  }
}

.modal__wrap {
  padding: 50px 0;
  background-color: #f2f2f2;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--padding {
    padding: 59px 0;
  }
}


@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 7 15px 0 rgba(0, 1, 1, 0.15);

    &--success {
      padding-bottom: 0;
    }
  }

  .modal__container {
    width: 370px;
  }

  .modal__message {
    width: 215px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal__instructions {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 25px;

    &--success {
      width: 320px;
      margin-bottom: 28px;
    }
  }

  .modal__instructions br {
    display: none;
  }

  .modal__button {
    margin: 0 auto;
  }

  .modal__wrap {
    padding: 52px 0;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    padding-top: 18px;
    width: 777px;
  }

  .modal__container {
    width: 465px;
  }

  .modal__message {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;

    &--success {
      width: 400px;
      margin-bottom: 18px;
    }
  }

  .modal__instructions {
    width: 360px;
    margin-bottom: 107px;

    &--success {
      width: 390px;
      margin: 0 auto;
      margin-bottom: 33px;
    }
  }

  .modal__button--success {
    width: 465px;
  }
}
