.modal {
  display: none;
  padding-top: 24px;
  padding-bottom: 51px;
  &--success {
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  }
}

.modal__message {
  @include text-reset;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.modal__instructions {
  @include text-reset;
  margin-bottom: 38px;
  text-align: center;
  &--success {
    width: 281px;
    margin-bottom: 21px;
    text-align: center;
  }
}

.modal__wrap {
  padding: 50px 0;
  background-color: #f2f2f2;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}
