.page-header {
  display: block;
  margin-bottom: 42px;
  color: #ffffff;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 261px;
  background-size: 100%;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
    background-position: center 256px;
  }
}

.page-header__container {
  width: 100%;
  padding: 0;
}

@media (min-width: 321px) and (max-width: 559px) {
  .page-header {
    &--index {
    background-size: 100% 46.4%;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 50px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position: -270px 238px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 68px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: -809px -5px;
    &--index {
      background-position: -809px -5px;
    }
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2555px auto;
    }
  }
}

@media (min-width: 1200px) {
  .page-header {
    background-size: cover;
    background-position: top center;
  }
}
