.page-header {
  display: block;
  margin-bottom: 42px;
  color: #ffffff;
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-size: cover;
  }
}
