.page-header {
  margin-bottom: 45px;
  color: #ffffff;
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__btn {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border-color: #ffffff;
}
