.page-header {
  display: block;
  margin-bottom: 35px;
  color: #ffffff;
  background-color: $primary-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
