.page-header {
  display: block;
  margin-bottom: 35px;
  color: #ffffff;
  background-color: $primary-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  display: block;
  padding: 19px;
}

.page-header__logo-image {
  width: 75px;
  height: 22px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    width: 150px;
    padding-bottom: 40px;
  }
  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 160px;
    margin-right: 165px;
    padding-top: 25px;
  }
  .page-header__wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
