.page-header {
  display: block;
  margin-bottom: 42px;
  color: #ffffff;
  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 200px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

  }
}

.page-header__container {
  width: 100%;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: 50px;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 68px;
  }
}
