.photo-editor {
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

.photo-editor__intro {
  margin-bottom: 20px;
  padding-bottom: 45px;
  background-color: #ffffff;
}

.photo-editor__desc {
  @include text-reset;
  line-height: 30px;
  text-align: center;
}

.photo-editor__image {
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.photo-editor__range {
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.photo-editor__form {
  display: block;
}

.photo-editor__btn {
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  &--post {
    margin-bottom: 10px;
  color: $secondary-color;
  border-color: $secondary-color;
}
  &--cancel {
    color: transparentize($primary-color, 0.9);
    border-color: transparentize($primary-color, 0.9);
  }
}

@media (min-width: $tablet-width) {
  .photo-editor__container {
    display: flex;
  }
  .photo-editor__img-wrap,
  .photo-editor__wrapper {
    width: 300px;
  }
  .photo-editor__img-wrap {
    margin-right: 20px;
  }
}
