.photo-editor {
  position: relative;
  padding-bottom: 43px;
  background-color: #f2f2f2;
  &::before {
    content: "";
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 320px;
    height: 2px;
    background-color: #dddfe0;
  }
}

.photo-editor__intro {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.photo-editor__header-wrap {
  width: 280px;
  margin: 0 auto;
}

.photo-editor__desc {
  width: 259px;
  margin: 0 auto;
  padding: 0;
  line-height: 30px;
  text-align: center;
}

.photo-editor__image {
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.photo-editor__range {
  margin-bottom: 20px;
  padding-bottom: 0p5x;
}

.photo-editor__form {
  display: block;
}

.photo-editor__btn {
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  &--post {
    margin-bottom: 13px;
  color: $secondary-color;
  border-color: $secondary-color;
}
  &--cancel {
    color: transparentize($primary-color, 0.9);
    border-color: transparentize($primary-color, 0.9);
  }
}

.photo-editor__filters {
  position: relative;
  display: flex;
  width: 214px;
  @include list-reset;
  margin: 0 auto;
  margin-bottom: 111px;
}

.photo-editor__item {
  margin-right: 35px;
}

.photo-editor__item:last-child {
  margin-right: none;
}

.photo-editor__pic-wrap {
  width: 48px;
  height: 48px;
  margin-top: 3px;
  &--last {
    padding-top: 5px;
  }
}

.photo-editor__filter {
  fill: $primary-color;
  opacity: 0.3;
  cursor: pointer;
  path {
    fill: $primary-color;
  }
  &--current {
    fill: $secondary-color;
    opacity: 1;
    cursor: default;
  }
  &:hover:not(.photo-editor__filter--current) {
    opacity: 0.3;
  }
  &:active:not(.photo-editor__filter--current) {
    opacity: 0.5;
  }
}

.photo-editor__range-filter {
  position: absolute;
  left: -15px;
  width: 240px;
  margin: 0 auto;
  margin-top: 35px;
  &--hidden {
    display: none;
  }
}

.photo-editor__bar {
  position: relative;
  height: 2px;
  background-color: $primary-color;
}

.photo-editor__toggle {
  position: absolute;
  top: -6px;
  right: 33px;
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  cursor: pointer;
  &:active {
    background-color: $secondary-color;
  }
}

.photo-editor__img {
  width: 48px;
  height: 48px;
}

.photo-editor__img path {
  color: rgba(40, 54, 69, 0.3);
}

.photo-editor__btn{
  &--post:hover {
    color: rgb(255, 255, 255);
    background-color: $secondary-color;
  }
  &--post:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &--cancel:hover {
    color: #b5b9be;
    border-color: #b5b9be;
  }
  &--cancel:active {
    background-color: #b5b9be;
    color: rgba(255, 255, 255, 0.3);
    border-color: #b5b9be;
  }
}

@media (min-width: $tablet-width) {
  .photo-editor {
    padding-bottom: 0;
  }
  .photo-editor__intro {
    padding-bottom: 68px;
  }
  .photo-editor__header-wrap {
    width: 620px;
    margin: 0 auto;
  }
  .photo-editor::before {
    display: none;
  }
  .photo-editor__container {
    display: flex;
  }
  .photo-editor__intro {
    width: 100%;
    margin: 0 auto;
  }
  .photo-editor__desc {
    width: 425px;
    margin: 0 auto;
    font-size: 18px;
  }
  .photo-editor__img-wrap,
  .photo-editor__wrapper {
    width: 300px;
  }
  .photo-editor__img-wrap {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 20px;
  }
  .photo-editor__image {
    width: 300px;
    height: 400px;
  }
  .photo-editor__form {
    margin-top: 44px;
  }
  .photo-editor__filters {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 21px;
    margin-bottom: 45px;
  }
  .photo-editor__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: 0;
    margin-left: 28px;
    margin-bottom: 22px;
    border-bottom: 1px solid #dddfe0;
  }
  .photo-editor__filter {
    width: 24px;
    height: 24px;
    fill: $secondary-color;
    opacity: 1;
    &--current {
      cursor: pointer;
    }
    &:hover {
      fill: $primary-color;
      opacity: 0.3;
    }
    &:active {
      opacity: 0.5;
    }
  }
  .photo-editor__pic-wrap {
    width: 24px;
    height: 24px;
    &--last {
      margin-top: 0;
      margin-left: 5px;
    }
  }
  .photo-editor__range-filter {
    position: static;
    width: 205px;
    margin: 0;
    margin-left: 28px;
    padding-top: 13px;
    padding-bottom: 34px;
    &--hidden {
      display: block;
    }
  }
  .photo-editor__toggle {
    &--crop {
      right: 44px;
    }
    &--fill{
      left: 26px;
    }
    &--contrast {
      left: 91px;
    }
  }
  .photo-editor__btn {
    width: 260px;
    margin-left: 27px;
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__img-wrap {
    margin-top: 55px;
    margin-left: 80px;
    margin-right: 60px;
  }
  .photo-editor__form {
    display: flex;
    flex-direction: column;
    width: 410px;
  }
  .photo-editor__filters {
    width: 410px;
    margin-top: 7px;
    margin-left: 0;
    margin-bottom: 134px;
  }
  .photo-editor__item {
    width: 410px;
    margin-bottom: 13px;
  }
  .photo-editor__filter {
    width: 48px;
    height: 48px;
  }
  .photo-editor__pic-wrap {
    width: 48px;
    height: 48px;
    &--last {
      padding-left: 5px;
    }
  }
  .photo-editor__range-filter {
    width: 290px;
    margin-left: 45px;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 33px;
  }
  .photo-editor__toggle {
    &--crop {
      left: 73px;
    }
    &--fill {
      left: auto;
      right: 29px;
    }
    &--contrast {
      left: 159px;
    }
  }
  .photo-editor__btn-wrap {
    width: 410px;
    display: flex;
    margin-left: 28px;
  }
  .photo-editor__btn {
    width: 183px;
    margin-left: 4px;
    margin-right: 43px;
  }
  .photo-editor__btn:last-child {
    margin-right: 0;
  }
}
