.photo-editor {
  padding-bottom: 60px;
}

.photo-editor__desc {
  @include text-reset;
  line-height: 30px;
}

.photo-editor__btn {
  font-size: 18px;
  line-height: 18px;
  &--post {
  color: #d22856;
  border-color: #d22856;
}
  &--cancel {
    color: rgba(40, 54, 69, 0.1);
    border-color: rgba(40, 54, 69, 0.1);
  }
}
