.photos-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .photos-list {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }
  .photos-list__item {
    width: 300px;
  }
  .photos-list__item:first-child {
    width: 620px;
    margin: 0 auto;
  }
  .photos-list__pub-text--width {
    width: 620px;
  }
}
