.photos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos-list__pub-text {
  @include text-reset;
}

@media (min-width: $tablet-width) {
  .photos-list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photos-list__pub-text--width {
    width: 620px;
  }
}
