.photo-editor {
  position: relative;
  padding-bottom: 43px;
  background-color: #f2f2f2;
  &::before {
    content: "";
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 320px;
    height: 2px;
    background-color: #dddfe0;
  }
}

.photo-editor__intro {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.photo-editor__desc {
  width: 259px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  line-height: 30px;
  text-align: center;
}

.photo-editor__image {
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.photo-editor__range {
  margin-bottom: 20px;
  padding-bottom: 0p5x;
}

.photo-editor__form {
  display: block;
}

.photo-editor__btn {
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  &--post {
    margin-bottom: 13px;
  color: $secondary-color;
  border-color: $secondary-color;
}
  &--cancel {
    color: transparentize($primary-color, 0.9);
    border-color: transparentize($primary-color, 0.9);
  }
}

.photo-editor__filters {
  position: relative;
  display: flex;
  width: 214px;
  @include list-reset;
  margin: 0 auto;
  margin-bottom: 108px;
}

.photo-editor__item {
  margin-right: 35px;
}

.photo-editor__item:last-child {
  margin-right: none;
}

.photo-editor__range-filter {
  position: absolute;
  left: -15px;
  width: 240px;
  margin: 0 auto;
  margin-top: 32px;
  &--hidden {
    display: none;
  }
}

.photo-editor__bar {
  position: relative;
  height: 2px;
  background-color: $primary-color;
}

.photo-editor__toggle {
  position: absolute;
  top: -6px;
  right: 33px;
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  border: 2px solid $secondary-color;
  border-radius: 50%;
}

.photo-editor__img {
  width: 48px;
  height: 48px;
}

.photo-editor__img path {
  color: rgba(40, 54, 69, 0.3);
}

@media (min-width: $tablet-width) {
  .photo-editor {
    padding-bottom: 0;
  }
  .photo-editor__intro {
    padding-bottom: 68px;
  }
  .photo-editor::before {
    display: none;
  }
  .photo-editor__container {
    display: flex;
  }
  .photo-editor__intro {
    width: 100%;
    margin: 0 auto;
  }
  .photo-editor__desc {
    width: 425px;
    margin: 0 auto;
    font-size: 18px;
  }
  .photo-editor__img-wrap,
  .photo-editor__wrapper {
    width: 300px;
  }
  .photo-editor__img-wrap {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 20px;
  }
  .photo-editor__image {
    width: 300px;
    height: 400px;
  }
  .photo-editor__form {
    margin-top: 44px;
  }
  .photo-editor__filters {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 21px;
    margin-bottom: 43px;
  }
  .photo-editor__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 16px;
    border-bottom: 1px solid #dddfe0;
  }
  .photo-editor__pic-wrap {
    width: 24px;
  }
  .photo-editor__range-filter {
    position: static;
    width: 205px;
    margin: 0;
    margin-left: 56px;
    padding-top: 12px;
    padding-bottom: 29px;
    &--hidden {
      display: block;
    }
  }
  .photo-editor__toggle {
    &--crop {
      right: 44px;
    }
    &--fill{
      left: 26px;
    }
    &--contrast {
      left: 97px;
    }
  }
  .photo-editor__btn {
    width: 260px;
    margin-left: 29px;
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__img-wrap {
    margin-left: 80px;
    margin-right: 60px;
  }
  .photo-editor__form {
    display: flex;
    flex-direction: column;
    width: 410px;
  }
  .photo-editor__filters {
    width: 410px;
    margin-top: 9px;
    margin-left: 27px;
    margin-bottom: 134px;
  }
  .photo-editor__item {
    width: 410px;
  }
  .photo-editor__range-filter {
    width: 290px;
    margin-left: 68px;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 24px;
  }
  .photo-editor__toggle {
    &--crop {
      left: 71px;
    }
    &--fill {
      right: 29px;
    }
    &--contrast {
      left: 160px;
    }
  }
  .photo-editor__btn-wrap {
    width: 410px;
    display: flex;
    margin-left: 28px;
  }
  .photo-editor__btn {
    width: 185px;
    margin-left: 0;
    margin-right: 44px;
  }
  .photo-editor__btn:last-child {
    margin-right: 0;
  }
}
