.price {
  overflow: hidden;
  padding-bottom: 56px;
  background-color: #f2f2f2;
}

.price__input:first-of-type:checked ~ .price__list {
  transform: translateX(-20px);
}

.price__input:nth-of-type(2):checked ~ .price__list {
  transform: translateX(-277px);
}

.price__input:last-of-type:checked ~ .price__list {
  transform: translateX(-535px);
}

.price__toggles {
  left: 111px;
}

.price__wrap {
  position: relative;
  padding-top: 62px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background-color: #f2f2f2;
    background-image: linear-gradient(176deg, #ffffff 0%, #ffffff 50%, #f2f2f2 50%, #f2f2f2 100%);
    background-repeat: no-repeat;
  }
}

.price__table-wrap {
  padding-top: 15px;
}

.price__list {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 41px;
  transform: translateX(-277px);
}



.price__header {
  width: 280px;
  padding: 18px 39px;
  padding-left: 37px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
  background-color: $primary-color;

  &--hidden {
    display: none;
  }
}

.price__name {
  position: relative;
  width: 200px;

  @include text-reset;
  margin-bottom: 1px;

  @include bold-text;
  line-height: 30px;
  text-transform: uppercase;

  &--hit::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -38px;
    width: 74px;
    height: 73px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    background-image: url("../img/bg-hit.svg");
  }

  &--hit::after {
    content: "хит";
    position: absolute;
    top: -5px;
    left: -29px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-45deg);
  }
}

.price__cost {
  @include text-reset;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.price__filter {
  width: 280px;
  padding: 13px 21px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-width: 2px;

  &--hidden {
    display: none;
  }
}

.price__filter-yes--check {
  float: right;
  position: relative;
  margin-right: 15px;
  width: 21px;
  height: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 9px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-yes.svg");
    background-size: 31px;
    background-repeat: no-repeat;
  }
}

.price__filter-no--cross {
  float: right;
  position: relative;
  margin-right: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 26px;
    height: 26px;
    background-image: url("../img/icon-no.svg");
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-bottom: 24px;
  }

  .price__input:nth-of-type(2):checked ~ .price__list {
    transform: none;
  }

  .price__wrap {
    padding-top: 71px;

    &::before {
      top: -2px;
      left: 0;
      width: 100%;
      height: 66px;
    }
  }

  .price__table-wrap {
    padding-top: 9px;
  }

  .price__list {
    transform: none;
  }

  .price__header {
    width: 155px;
    padding: 0;
    padding-bottom: 8px;
    padding-top: 12px;
    border-radius: 2px;
  }

  .price__header--hidden {
    display: table-cell;
    background: none;
  }

  .price__name {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;

    &--base {
      width: 50px;
      margin-left: 54px;
      margin-bottom: 0;
    }

    &--hit {
      margin-left: 33px;
      width: 90px;
    }

    &--hit::before {
      top: -11px;
      left: -32px;
      width: 61px;
      height: 61px;
      background-image: url("../img/bg-hit-tablet.svg");
    }

    &--hit::after {
      top: -8px;
      left: -25px;
    }

    &--unlim {
      width: 70px;
      margin-left: 44px;
    }
  }

  .price__cost {
    width: 75px;
    margin-left: 40px;
    font-size: 18px;
  }

  .price__filter {
    width: 155px;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .price__filter--hidden {
    display: table-cell;
  }

  .price__filter-name--hidden {
    display: none;
  }

  .price__filter-name {
    text-transform: none;
  }

  .price__filter-yes {
    width: 28px;
    height: 31px;
    margin-right: 50%;

    &--check::before {
      top: 6px;
      left: 7px;
    }
  }

  .price__filter-no {
    width: 31px;
    height: 31px;
    margin-right: 42%;

    &--cross::before {
      top: 2px;
      left: 1px;
    }
  }

  .price__toggles {
    &--hidden {
      display: none;
    }
  }

  .price__button {
    &--hidden {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-bottom: 52px;
  }

  .price__wrap {
    &::before {
      top: -15px;
      left: 0;
      width: 100%;
      height: 129px;
    }
  }

  .price__list {
    margin-top: 59px;
  }

  .price__filter-name--hidden {
    display: none;
  }

  .price__header {
    width: 230px;
    padding-top: 16px;
    padding-bottom: 22px;
    overflow: hidden;
  }

  .price__name {
    margin: 0 auto;
    font-size: 18px;

    &--hit::before {
      top: -10px;
      left: -99px;
      width: 122px;
      height: 29px;
      transform: rotate(-47deg);
      background-image: none;
      background-color: #d22856;
    }

    &--hit::after {
      top: -4px;
      left: -60px;
    }
  }

  .price__cost {
    width: 100px;
    margin: 0 auto;
    font-size: 24px;
  }

  .price__filter {
    width: 155px;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 20px;
  }

  .price__filter-name {
    font-size: 18px;
  }

  .price__filter-yes {
    margin-right: 55%;

    &--check::before {
      top: 7px;
      left: 14px;
    }
  }

  .price__filter-no {
    margin-right: 46.5%;

    &--cross::before {
      top: 1px;
      left: 0;
    }
  }
}
