.price {
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 45px;
  background-color: #f2f2f2;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 20px;
}

.price__list {
  width: 100%;
  margin-bottom: 40px;
  transform: translateX(-250px);
}

.price__header {
  width: 280px;
  padding: 20px 30px;
  text-align: center;
  color: #ffffff;
  background-color: $primary-color;
  &--hidden {
    display: none;
  }
}

.price__name {
  position: relative;
  width: 200px;
  @include text-reset;
  @include bold-text;
  line-height: 30px;
  text-transform: uppercase;
  &--hit::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -30px;
    width: 61px;
    height: 61px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    background-image: url("../../img/bg-hit-tablet.svg");
  }
  &--hit::after {
    content: "хит";
    position: absolute;
    top: -16px;
    left: -20px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-45deg);
  }

}

.price__cost {
  @include text-reset;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.price__filter {
  width: 280px;
  padding: 15px 25px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-width: 2px;
  &--hidden {
    display: none;
  }
}

.price__filter-yes--check {
  float: right;
  position: relative;
  margin-right: 15px;
  width: 21px;
  height: 16px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 21px;
    height: 16px;
    background-image: url("../../img/icon-yes.svg");
  }
}

.price__filter-no--cross {
    float: right;
    position: relative;
    margin-right: 15px;
  &::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background-image: url("../../img/icon-no.svg");
  }
}

@media (min-width: $tablet-width) {
  .price__list {
    transform: none;
  }
  .price__header {
    width: 155px;
    padding: 0;
    padding: 15px 0;
  }
  .price__header--hidden {
    display: table-cell;
    background: none;
  }
  .price__name {
    width: 155px;
  }
  .price__filter {
    width: 155px;
    padding: 0;
    padding: 10px;
  }
  .price__filter--hidden {
    display: table-cell;
  }
  .price__filter-name--hidden {
    display: none;
  }
  .price__name--hit {
    &::before {
      top: -14px;
      left: 0px;
      background-image: url("../../img/bg-hit-tablet.svg");
    }
    &::after {
      top: -10px;
      left: 6px;
    }
  }
  .price__filter-yes {
    width: 31px;
    height: 31px;
    margin-right: 50%;
  }
  .price__filter-no{
    width: 31px;
    height: 31px;
    margin-right: 40%;
  }
}

@media (min-width: $desktop-width) {
  .price__filter-name--hidden {
    display: none;
  }
  .price__header {
    width: 237px;
  }
  .price__name {
    width: 237px;
  }
  .price__cost {
    width: 237px;
  }
  .price__filter {
    width: 237px;
  }
}
