.promo-app {
  width: 320px;
  margin: 0 auto;
  padding-top: 28px;
}

.promo-app__btn {
  &--white {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.promo-app__platforms {
  @include list-reset;
  margin-bottom: 20px;
}

.promo-app__lead {
  @include text-reset;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
}

.promo-app__desc {
  @include text-reset;
  font-weight: 300;
}
