.promo-app {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 2px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

.promo-app__wrapper-text {
  display: block;
  padding-top: 316px;
  padding-bottom: 30px;
}

.promo-app__btn {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
  background-color: transparent;

  &--white {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border-color: #ffffff;
  }

  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff;
  }
}

.promo-app__platforms {
  display: flex;
  justify-content: space-between;
  width: 207px;

  @include list-reset;
  margin: 0 auto;
  margin-bottom: 24px;
}

.promo-app__item {
  display: flex;
  align-items: flex-end;
  width: 45px;
  margin-right: 37px;
}

.promo-app__item:last-child {
  margin-right: 0;
}

.promo-app__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &--apple::before {
    content: "";
    width: 46px;
    height: 56px;
    background-image: url("../img/logo-apple.svg");
  }

  &--android::before {
    content: "";
    width: 42px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
  }

  &--windows::before {
    content: "";
    width: 44px;
    height: 42px;
    background-image: url("../img/logo-microsoft.svg");
  }
}

.promo-app__lead {
  display: none;

  @include text-reset;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
}

.promo-app__wrapper-img {
  margin-bottom: 30px;
}

.promo-app__desc {
  width: 255px;

  @include text-reset;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo-app {
    width: auto;
    margin: 0;
    background: none;
  }

  .promo-app__container {
    display: flex;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px auto;
    background-position: -39px 3px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .promo-app__wrapper-text {
    width: 300px;
    padding-top: 0;
    padding-bottom: 109px;
  }

  .promo-app__lead {
    position: relative;
    width: 188px;
    display: block;
    margin-top: 23px;
    margin-left: 55px;
    margin-bottom: 31px;
    text-align: center;
  }

  .promo-app__btn {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .promo-app__platforms {
    width: 207px;
    margin-bottom: 38px;
  }

  .promo-app__desc {
    width: 300px;
    font-size: 18px;
  }
}

@media (min-width: 321px) and (max-width: $tablet-width) {
  .promo-app {
    background-position: top center;
  }
}

@media (min-width: $desktop-width) {
  .promo-app__container {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px auto;
    background-position: 15px 7px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .promo-app__wrapper-text {
    width: 370px;
    padding-bottom: 122px;
  }

  .promo-app__lead {
    width: 240px;
    margin-top: 17px;
    margin-left: 30px;
    margin-bottom: 53px;
    font-size: 50px;
    line-height: 59px;
  }

  .promo-app__btn {
    &--white {
      width: 300px;
      margin-bottom: 64px;
      margin-left: 0;
      padding: 14px 25px;
      font-size: 21px;
      line-height: 21px;
    }
  }

  .promo-app__platforms {
    width: 210px;
    margin: 0;
    margin-left: 46px;
    margin-bottom: 57px;
  }

  .promo-app__item {
    margin-right: 30px;
  }

  .promo-app__desc {
    margin: 0;
  }
}
