.promo-app {
  padding-top: 128px;
  padding-bottom: 30px;
  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

.promo-app__wrapper-text {
  display: block;
}

.promo-app__btn {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: transparent;
  &--white {
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.promo-app__platforms {
  display: flex;
  justify-content: center;
  @include list-reset;
  margin-bottom: 20px;
}

.promo-app__item {
  width: 50px;
  margin-right: 20px;
}

.promo-app__link {
  display: flex;
  justify-content: center;
  align-items: center;
  &--apple::before {
    content: "";
    width: 46px;
    height: 56px;
    background-image: url("../../img/logo-apple.svg");
  }
  &--android::before {
    content: "";
    width: 42px;
    height: 47px;
    background-image: url("../../img/logo-android.svg");
  }
  &--windows::before {
    content: "";
    width: 44px;
    height: 42px;
    background-image: url("../../img/logo-microsoft.svg");
  }
}

.promo-app__lead {
  display: none;
  @include text-reset;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
}

.promo-app__wrapper-img {
  margin-bottom: 30px;
}

.promo-app__wrapper-text {
  padding-top: 200px;
}

.promo-app__desc {
  @include text-reset;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo-app {
    display: flex;
    padding-top: 50px;
    background-position: right;
  }
  .promo-app__lead {
    position: relative;
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }
  .promo-app__wrapper-text {
    width: 300px;
    padding-top: 0;
    padding-bottom: 100px;
    }
}


@media (min-width: $desktop-width) {
  .promo-app__container {
    justify-content: space-between;
  }
  .promo-app__lead {
    font-size: 50px;
    line-height: 50px;
  }
}
