.publication {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  &--width {
    width: 100%;
  }
}

.publication__img-wrapper {
  width: 280px;
  &--pub-day {
    position: relative;
    width: 100%;
  }
  &--pub-day::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    top: 0;
    right: 20px;
    width: 140px;
    padding: 6px 19px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d22856;
  }
}

.publication__image {
  &--height {
    height: 138px;
  }
}

.publication__info-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 19px;
  background-color: #f2f2f2;
}

.publication__text {
  @include text-reset;
  margin-bottom: 8px;
}

.publication__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.publication__author {
  font-weight: 700;
}

.publication__time,
.publication__time-signal {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.publication__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: $secondary-color;
}

.publication__like {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  border: none;
  background: none;
  cursor: pointer;
  &--icon::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .publication {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    &--width {
      width: 100%;
      margin-bottom: 51px;
    }
  }
  .publication:nth-child(2n) {
    margin-right: 0;
  }
  .publication__img-wrapper {
    &--pub-day {
      width: 660px;
    }
    &--pub-day::before {
      top: 60px;
      left: auto;
      right: 50px;
    }
  }
  .publication__image {
    width: 300px;
    height: 300px;
    &--height {
      height: 509px;
    }
  }
  .publication__info-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    min-height: 155px;
    padding: 24px;
    padding-left: 28px;
    &--width {
      min-height: auto;
      width: 620px;
      padding-top: 25px;
      padding-left: 37px;
      padding-bottom: 13px;
    }
  }
  .publication__text {
    margin-bottom: 11px;
    &--width {
      width: 595px;
    }
      &--margin {
        margin-bottom: 34px;
      }
  }
  .publication__author-wrap {
    display: flex;
  }
  .publication__author {
    margin-right: 5px;
  }
  .publication__likes-wrap--pub-day {
    position: absolute;
    top: 24px;
    right: 48px;
  }
  .publication__like {
    padding-left: 0;
  }
  .publication__like--icon {
    &::before {
      left: 228px;
      top: 7px;
    }
  }
  .publication__like--pub-day {
    &::before {
      top: -10px;
      left: 110px;
    }
  }
}

@media (min-width: $desktop-width) {
  .publication {
    margin-right: 0px;
    margin-bottom: 54px;
    &--width {
      margin-bottom: 50px;
    }
  }
  .publication:last-child {
    margin-bottom: 0;
  }
  .publication__image {
    height: 400px;
    &--height {
      height: 506px;
    }
  }
  .publication__info-wrapper {
    padding-left: 28px;
    &--width {
      width: 940px;
      margin: 0 auto;
    }
  }
  .publication__text {
    &--width {
      width: auto;
    }
}
  .publication__likes-wrap {
    &--pub-day {
      top: 25px;
      right: 62px;
    }
  }
  .publication__like--pub-day::before {
      top: -12px;
  }
}
