.publication {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  &--pub-day {
    width: 100%;
  }
  &--pub-day::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    left: 120px;
    width: 140px;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $secondary-color;
  }
}

.publication__info-wrapper {
  padding: 20px;
  background-color: #f2f2f2;
}

.publication__image{
  display: block;
}

.publication__author {
  font-weight: 700;
}

.publication__time,
.publication__time-signal {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.publication__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: $secondary-color;
}

.publication__like {
  position: relative;
  padding-left: 25px;
  border: none;
  background: none;
  &--icon::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .publication {
    width: 300px;
    &--pub-day {
      width: 100%;
    }
  }
  .publication__info-wrapper {
    width: 280px;
    &--width {
      width: 100%;
    }
  }

  .publication__like--icon {
    &::before {
      left: 200px;
    }
  }
}
