.reviews {
  margin-bottom: 87px;
  padding-bottom: 45px;
}

.reviews__list {
  display: block;
  @include list-reset;
  margin-bottom: 34px;
}

.reviews__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include text-reset;
}

.reviews__about-author {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.reviews__author {
  margin-bottom: 13px;
  @include bold-text;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.reviews__text {
  @include text-reset;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 61px;
  }
  .reviews__list {
    margin-bottom: 2px;
  }
  .reviews__author {
    margin: 0;
    font-size: 20px;
  }
  .reviews__about-author {
    font-size: 14px;
    display: block;
    margin-top: 2px;
    margin-bottom: 34px;
  }
  .reviews__text {
    order: -1;
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    margin-bottom: 105px;
    padding-top: 121px;
  }
  .reviews__list {
    display: flex;
    justify-content: center;
  }
  .reviews__text {
    width: 695px;
    margin: 0 auto;
    margin-bottom: 37px;
  }
  .reviews__author {
    font-size: 24px;
    line-height: 30px;
  }
  .reviews__about-author {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  .reviews__toggles--hidden {
    display: none;
  }
}
