.site-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  @include list-reset;
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $primary-color;
  border-top: 1px solid #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  &--border-dark {
    border-bottom: 1px solid #000000;
  }
  &--current::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  &:hover {
    color: $secondary-color;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    width: 780px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }
  .site-nav__item {
    padding: 40px 0;
    padding-bottom: 46px;
    margin-right: 80px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
  .site-nav__link {
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    background: none;
    border: none;
  }
}
