.site-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  @include list-reset;
}

.site-nav__link {
  display: block;
  padding: 15px 60px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $primary-color;
  box-shadow: 0 -1px 0 0 #000000,
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

@media (min-width: $desktop-width) {
  .site-nav {
    flex-direction: row;
  }
  .site-nav__link {
    padding: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    box-shadow: none;
    background: none;
  }
}
