.slider__item {
  &--reviews {
    display: none;
  }

  &--reviews-block {
    display: block;
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;

  @include text-reset;
  margin: 0 auto;
}

.slider__toggle {
  position: relative;
  margin-right: 20px;
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;

  &--current {
    width: 11px;
    height: 10px;
    margin-right: 17px;
    background-color: #ffffff;
    border: 3px solid #2d3b49;
  }

  &--margin {
    margin-right: 17px;
  }

  &:not(.slider__toggle--current):hover,
  &:not(.slider__toggle--current):hover {
    background-color: #7e868f;
  }

  &:not(.slider__toggle--current):active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__toggle:last-child {
  margin-right: 0;
}

@media (min-width: $desktop-width) {
  .slider__toggles--hidden {
    display: none;
  }
}
