.slider {
  position: relative;
}

.slider__list {
  position: relative;
}

.slider__toggles {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;

  @include text-reset;
  margin: 0 auto;
}

.slider__toggle {
  position: relative;
  margin-right: 17px;
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;

  &--margin {
    margin-right: 17px;
  }

  &:not(.slider__toggle--current):hover,
  &:not(.slider__toggle--current):hover {
    background-color: #7e868f;
  }

  &:not(.slider__toggle--current):active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.slider__toggle:last-child {
  margin-right: 0;
}

.slider__input:first-of-type:checked ~ .slider__toggles .slider__toggle:first-child {
  width: 12px;
  height: 12px;
  border-color: $primary-color;
  background-color: transparent;
}

.slider__input:nth-of-type(2):checked ~ .slider__toggles .slider__toggle:nth-child(2) {
  width: 12px;
  height: 12px;
  border-color: $primary-color;
  background-color: transparent;
}

.slider__input:last-of-type:checked ~ .slider__toggles .slider__toggle:last-child {
  width: 12px;
  height: 12px;
  border-color: $primary-color;
  background-color: transparent;
}

@media (min-width: $desktop-width) {
  .slider__toggles--hidden {
    display: none;
  }
}
