html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include text-reset;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $primary-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
